<div class="registration-container">
    <h2>Registration Form</h2>
    <form (ngSubmit)="register()" class="registration-form">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="name"
          name="name"
          placeholder="Enter your name"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Enter your password"
          required
        />
      </div>
      <button  class="submit-btn" routerLink="/">Back To Login</button>
      <button type="submit" class="submit-btn">Register</button>
    </form>
  </div>
  