
<h2>Registration form </h2>
<form (ngSubmit)="register()">
    <div>
        <label>Name : </label>
        <input type='text' [(ngModel)]="name" name="name" placeholder="enter your name">
    </div>
    <div>
        <label>Email : </label>
        <input type='email' [(ngModel)]="email" name="email" placeholder="enter your Email">
    </div>
    <div>
        <label>password : </label>
        <input type='text' [(ngModel)]="password" name="password" placeholder="enter your password">
    </div>
    <button type="submit">register</button>
</form>